{
  "extends": ["airbnb", "plugin:jsx-a11y/recommended", "prettier"],
  "plugins": ["jsx-a11y", "prettier"],
  "overrides": [
    {
      "files": ["*.jsx"],
      "rules": {
        "no-shadow": 0,
        "camel-case": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "import/no-named-as-default": 0,
        "react/prop-types": 0,
        "arrow-body-style": 0
      }
    },
    {
      "files": ["*.js"],
      "rules": {
        "import/prefer-default-export": 0,
        "arrow-body-style": 0
      }
    }
  ]
}
