/* Import fonts and other CSS files */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html {
  font-size: 100%;
  font-family: "Source Code Pro", sans-serif;
  color: #efefef;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  body {
    font-size: 75%;
  }
}